.top-wrapper{
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0px;
    height: 45px;
    width: 100%;
    background-color: gainsboro;
    align-items: center;
    justify-content: flex-end;
}
.savBtn{
    cursor: pointer;
    position: relative;
    right: 60px;
    height:30px;
    border:2px groove #5474CC;
    border-radius: 8px;
    color: #495BC1;
}
.error{
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    border:1px solid #FBCCCB;
    height:30px;
    background-color: #FBCCCB;
    border-radius: 8px;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 8px;
}

.success{
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    border:1px solid #60ff62;
    height:30px;
    background-color: #60ff62;
    border-radius: 8px;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 8px;
}